src/main/mule/api-new-demochanges.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="c938b94a-9852-4dc2-9f82-1aa1ca9553c9" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="api-new-demochangesFlow" doc:id="55eb7dca-5f22-48cc-937b-00054d37f4f0" >
		<http:listener doc:name="Listener" doc:id="082ff8e6-6ae1-4a8e-9189-ff85195e98f2" config-ref="HTTP_Listener_config" path="/*"/>
		<choice doc:name="Choice" doc:id="482555e6-02f7-4a76-83d2-1e5152196d9a" >
			<when expression="false">
				<set-payload value="#[payload]" doc:name="Set Payload" doc:id="cbfdc41a-4eea-46c9-8acc-39d5737e08dd" />
			</when>
			<otherwise >
				<ee:transform doc:name="Transform Message" doc:id="8e53f943-cacd-480a-a2ed-8f335040ca65" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<set-payload value="#[payload]" doc:name="Set Payload" doc:id="030515b6-04dd-42d1-9a9d-f056afe86989" />
			</otherwise>
		</choice>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="f6d4abc4-2fc5-4743-95a0-8dc9d3c587e0" />
		<ee:transform doc:name="Transform Message" doc:id="8b9fdf0c-856d-43e7-a477-ef49524f1a90" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
---
{
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<choice doc:name="Choice" doc:id="c0cbbd7a-584d-4acd-9b92-f4cbbc64b2c2" >
			<when expression="true">
				<ee:transform doc:name="Transform Message" doc:id="8b923cc1-f081-4b26-9c64-56bf087fb034" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<otherwise >
				<ee:transform doc:name="Transform Message" doc:id="f9c478cb-6b53-47ab-b9b8-7d04dc720fb7" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</otherwise>
		</choice>
	</flow>
</mule>
